footer.footer
    .color-bar
        .container-fluid
            .row
                .col.color-bar.bg-warning.d-none.d-md-block
                .col.color-bar.bg-info.d-none.d-md-block
                .col.color-bar.bg-success.d-none.d-md-block
                .col.color-bar.bg-danger.d-none.d-md-block
                .col.color-bar.bg-warning.d-none.d-md-block
                .col.color-bar.bg-info.d-none.d-md-block
                .col.color-bar.bg-success
                .col.color-bar.bg-danger
                .col.color-bar.bg-warning
                .col.color-bar.bg-info
                .col.color-bar.bg-success
                .col.color-bar.bg-danger
    .pt-7.pb-6
        .container
            .row
                .col-lg-4.col-xs-12
                    a.mb-6.d-block.footer-logo(href='index.html', title='魔力紅')
                        img(src='img/logo.jpg', alt='魔力紅 LOGO', title='魔力紅')
                .col-md-6.col-lg-5
                    .webeditor
                        h4.section-title-sm.font-weight-bold.text-white.mb-4 聯絡我們
                        address
                            ul
                                li
                                    span.title
                                        i.fa.fa-home(aria-hidden='true')
                                            span(style='display: none;')  
                                        | 公司地址
                                    span.info 彰化縣花壇鄉花橋街19號
                                li
                                    span.title
                                        i.fa.fa-phone(aria-hidden='true')
                                            span(style='display: none;')  
                                        | 聯絡電話
                                    span.info 04-7880258
                                li
                                    span.title
                                        i.fa.fa-fax(aria-hidden='true')
                                            span(style='display: none;')  
                                        | 傳真號碼
                                    span.info 04-7880255
                                li
                                    span.title
                                        i.fa.fa-envelope-o(aria-hidden='true')
                                            span(style='display: none;')  
                                        | 聯絡信箱
                                    span.info
                                        a(href='mailto:flower001100@gmail.com', title='E-mail 給魔力紅') flower001100@gmail.com
                .col-md-6.col-lg-3.col-xs-12
                    .webeditor
                        h4.section-title-sm.font-weight-bold.text-white.mb-4 網站連結
                        ul.list-unstyled
                            li.mb-2
                                a(href='ab.html', title='關於慶隆')
                                    i.fa.fa-angle-double-right.mr-2(aria-hidden='true')
                                        input(type="hidden")
                                    | 關於慶隆
                            li.mb-2
                                a(href='pdt-list.html', title='產品資訊')
                                    i.fa.fa-angle-double-right.mr-2(aria-hidden='true')
                                        input(type="hidden")
                                    | 產品資訊
                            li.mb-2
                                a(href='contact.html', title='聯絡我們')
                                    i.fa.fa-angle-double-right.mr-2(aria-hidden='true')
                                        input(type="hidden")
                                    | 聯絡我們
    .copyright
        .container
            .py-4.text-center
                p
                    | Copyright ©2020 魔力紅寵物、園藝、水族用品專賣. All rights reserved. Designed by
                    a(href='http://www.atteipo.com.tw/', title='atteipo', target='_blank') ATTEIPO
                    | .
    .scrolling
        a#back-to-top.back-to-top(href='#pageTop', style='opacity: 1;')
            i.fa.fa-arrow-up(aria-hidden='true')