script(type='text/javascript', src='js/plugins.js')
script(src='js/jquery.themepunch.tools.min.js')
script(src='js/jquery.themepunch.revolution.min.js')
script(src='js/main.js')
//只有首頁才需要 START
script(src='js/extensions/revolution.extension.slideanims.min.js')
script(src='js/extensions/revolution.extension.layeranimation.min.js')
script(type='text/javascript', src='js/jquery.themepunch.revolution.min.js')
script(type='text/javascript', src='js/rev_slider_jh.js')
script(type='text/javascript', src='js/extensions/revolution.extension.actions.min.js')
script(type='text/javascript', src='js/extensions/revolution.extension.carousel.min.js')
script(type='text/javascript', src='js/extensions/revolution.extension.kenburn.min.js')
script(type='text/javascript', src='js/extensions/revolution.extension.layeranimation.min.js')
script(type='text/javascript', src='js/extensions/revolution.extension.migration.min.js')
script(type='text/javascript', src='js/extensions/revolution.extension.navigation.min.js')
script(type='text/javascript', src='js/extensions/revolution.extension.parallax.min.js')
script(type='text/javascript', src='js/extensions/revolution.extension.slideanims.min.js')
script(type='text/javascript', src='js/extensions/revolution.extension.video.min.js')
//只有首頁才需要 END