//- layout.pug
include _mixins
doctype html
html
    head
        meta(charset='utf-8')
        title 慶隆
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        include _head
    body
        block header
            include _header
        block content
        block footer
            include _footer
        block js
            include _js

