.card.shadow-none.bg-transparent
    h4.card-header.font-weight-bold.bg-danger.rounded.text-white 產品資訊
    .card-body.border-top-0.rounded-bottom.p-0.mt-3
        +pdtList__aside('1','1','寵物類','寵物各式籠具','飼料罐頭')
        +pdtList__aside('2','1','水族類','水質處理','魚缸')
        +pdtList__aside('3','1','園藝類','各式盆器','栽培介質')
        +pdtList__aside('4','1','人造傢飾類','人造花飾','玻璃花器')