include _mixins
doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title $Title$
    body
        main
            .row
                .col-sm-12.col-md-7.col-lg-7
                    .product-gallery-container
                        .product-top
                            img#product-zoom(src='img/product1.jpg',
                                data-zoom-image='img/product1.jpg', alt='Product Name 1')
                        .product-gallery-wrapper
                            .owl-carousel.product-gallery.product-gallery-sm
                                - var proCount = 1
                                - for(var i=1;i<=5;i++)
                                    - if (proCount === 4)
                                        - proCount = 1
                                    +productsSlide(`img/product${proCount}.jpg`)
                                    - proCount++

        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js',type='text/javascript')
        script(src='plugins.js',type='text/javascript')
        script(src='main.js',type='text/javascript')
