doctype html
html(lang='zh-Hant')
    head
        include _head
    body
        header
            include _header
        main
            .container
                aside.sidebar
                    img(src="http://fakeimg.pl/150x150",title="")


                h1
                section.content
                    h3.index__postText posts

                    ul.portfolioList
                        li
                            h2.post-title
                                | 2020.03.02：調整文字大小：
                                a(href='src/change-font-size-with-css.html', title='change-font-size') 純 CSS
                                | 以及用
                                a(href='src/change-font-size-with-js.html') JS
                        li
                            h2.post-title
                                | 2020.03.03：
                                a(href='src/papapig-moveing.html', title='和佩佩豬一起動一動') 和佩佩豬一起動一動
                        li
                            h2.post-title
                                | 2020.03.04：
                                a(href='src/2020-03-04/0303-eazy-clock.html', title='時鐘') 時鐘
                        li
                            h2.post-title
                                | 2020.03.07：
                                a(href='src/2020-03-05/index.html', title='仿真碼表 stopwatch') 仿真碼表 stopwatch
                        li
                            h2.post-title
                                | 2020.03.08：
                                a(href='src/0308-check-if-a-image-is-loaded.html') 控制網頁元素誰先載入-判斷圖片載入完成(相容IE)
                        li
                            h2.post-title
                                | 2020.03.08：
                                a(href='src/0308-check-if-a-background-image-is-loaded.html') 控制網頁元素誰先載入-判斷背景圖片載入完成(相容IE)
                        li
                            h2.post-title
                                | 2020.03.12：
                                a(href="src/2020-03-12/index.html",title="彈出式搜尋框") JS 彈出式搜尋框
                        li
                            h2.post-title
                                | 2020.03.13：
                                a(href="src/2020-03-13/index.html",title="") JS 彈出式搜尋框
        footer
            include _footer
        include _js