extends include/_layout
block head
    title My Git Web
block content
    main
        .container
            h1
            section.content
                h3.index__postText posts

                ul.portfolioList
                    li
                        h2.post-title
                            | Day1 調整文字大小：
                            a(href='src/change-font-size-with-css.html', title='change-font-size') 純 CSS
                            | 以及用
                            a(href='src/change-font-size-with-js.html') JS
                    li
                        h2.post-title
                            | Day2
                            |
                            a(href='src/papapig-moveing.html', title='和佩佩豬一起動一動') 和佩佩豬一起動一動
                    li
                        h2.post-title
                            | Day3
                            |
                            a(href='src/2020-03-04/0303-eazy-clock.html', title='時鐘') 時鐘
                    li
                        h2.post-title
                            | Day4
                            |
                            a(href='src/2020-03-05/index.html', title='仿真碼表 stopwatch') 仿真碼表 stopwatch
                    li
                        h2.post-title
                            | Day5
                            |
                            a(href='src/0308-check-if-a-image-is-loaded.html') 控制網頁元素誰先載入-判斷圖片載入完成(相容IE)
                    li
                        h2.post-title
                            | Day5
                            |
                            a(href='src/0308-check-if-a-background-image-is-loaded.html') 控制網頁元素誰先載入-判斷背景圖片載入完成(相容IE)
                    li
                        h2.post-title
                            | Day6
                            |
                            a(href="src/2020-03-12/index.html",title="彈出式搜尋框") JS 彈出式搜尋框
                    li
                        h2.post-title
                            | Day7
                            |
                            a(href="src/2020-03-13/index.html",title="") 動態顯示搜尋框
                    li
                        h2.post-title
                            | Day8
                            |
                            a(href="src/random-color/index.html",title="") 隨機產生色碼
                    li
                        h2.post-title
                            | Day9
                            |
                            a(href="src/random-color-jq/index.html",title="") 隨機產生色碼 jquery 版本
                    li
                        h2.post-title
                            | Day9
                            |
                            a(href="src/painting/index.html",title="") 刷油漆 填色遊戲