extends include/_layout
block content
    main.main-wrapper.home
        .main-wrapper.about-us
            section.pageTitleSection
                .container
                    .pageTitleInfo
                        h2 關於慶隆
                        ol.breadcrumb
                            li
                                a(href='index.html') 首頁
                            li 關於慶隆
            section.py-7.py-md-10
                .container
                    .webeditor
                        .row
                            .col-sm-6.col-xs-12.order-md-1
                                .image.mb-4.mb-md-0.animated.bounceInRight
                                    img.img-fluid.rounded(src='img/about-temp.jpg', alt='')
                            .col-sm-6.col-xs-12.animated.bounceInLeft
                                div
                                    .section-title.mb-4
                                        h2.text-danger.pl-0 寵物、園藝、水族用品專賣
                                    p.text-dark.font-size-15.mb-4
                                        | 要了解園藝.水族.寵物的樂趣.其中奧祕需實際的體驗.才能體會.也才能樂生活；
                                        | 愛花草.愛水族.愛寵物更愛拈花惹草.每一次的新發現.都讓人心情愉悅.
                                    p.text-danger.font-size-15.mb-4
                                        | 蒔花弄草.盡在魔力紅寵物.園藝.水族用品專賣～
                                        | 本公司商品最齊全.所有狗狗.貓咪及小動物的配備.食.衣.住.行.育.樂我們都有啦!
                                        | 還有花草園藝.各式商品.趕快來享受慢活的田園生活
                                    ul.list-unstyled.mb-5
                                        li.d-flex.align-items-baseline.text-muted.mb-2
                                            i.fa.fa-check.mr-2(aria-hidden='true')
                                                span(style='display: none;')  
                                            |                                     ★服務最貼心 ★到貨最迅速 ★貨品最豐富
                                        li.d-flex.align-items-baseline.text-muted.mb-2
                                            i.fa.fa-check.mr-2(aria-hidden='true')
                                                span(style='display: none;')  
                                            |                                     您可自行採用清單樣式顯示您想呈現之內文，清楚顯示一覽無遺。
                                        li.d-flex.align-items-baseline.text-muted.mb-2
                                            i.fa.fa-check.mr-2(aria-hidden='true')
                                                span(style='display: none;')  
                                            |                                     您可自行採用清單樣式顯示您想呈現之內文，清楚顯示一覽無遺。
                                        li.d-flex.align-items-baseline.text-muted.mb-2
                                            i.fa.fa-check.mr-2(aria-hidden='true')
                                                span(style='display: none;')  
                                            |                                     您可自行採用清單樣式顯示您想呈現之內文，清楚顯示一覽無遺。
                                        li.d-flex.align-items-baseline.text-muted.mb-2
                                            i.fa.fa-check.mr-2(aria-hidden='true')
                                                span(style='display: none;')  
                                            |                                     您可自行採用清單樣式顯示您想呈現之內文，清楚顯示一覽無遺。
