script(type='text/javascript',src='js/jquery.min.js')
script(type='text/javascript',src='js/bootstrap.min.js')
script(type='text/javascript',src='js/slick.min.js')
script(type='text/javascript',src='js/custom.js')
script(type='text/javascript',src='js/common.js')
