//- layout.pug
doctype html
html
    head
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='css/bootstrap.min.css')
        link(rel='stylesheet', href='css/style.css')
        block head
            include _head
    body
        block header
            include _header
        block content
        block footer
            include _footer
        block js
            include _js