* {
    list-style-type: none;
    font-family: "Microsoft JhengHei";
}
h2 {
    font-family: "Microsoft JhengHei";
    text-align: center;

}
.wrap {
    max-width: 100%;
    margin: auto;
    text-align: center;
}
%mouser_style {
    cursor: pointer;
}

.color-block {
    display: flex;
    margin: 0;
    padding: 0;

    .colorBox {
        width: 300px;
        height: 200px;
        border: 2px solid #000;
        @extend %mouser_style;

        &:hover {
            border: 2px solid #fff;
            transition: .3s ease-in-out;
        }

        &:not(:last-child) {
            margin-right: 5px;
        }
    }
}

.paint-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: #000;
    padding: 10px 0 40px;

    .paint {
        @extend %mouser_style;
        width: 160px;
        height: 200px;
        border: 2px solid #666;
        background-color: #fff;
        margin-top: 10px;
        &:hover {
            border: 2px solid deeppink;
            transition: .3s ease-in-out;
        }
        //&:not(:last-child) {
        //    margin-right: 10px;
        //}
    }
}